/* Dashboard Container */
.dashboard {
  display: flex;
  height: 89vh;
}

/* Navigation Styles */
.dashboard-nav {
  width: 250px;
  background-color: #1C1A18;
}

.dashboard-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dashboard-nav li {
  margin: 15px 0;
}

.dashboard-nav a {
  text-decoration: none;
  color: #cccccc;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.dashboard-nav a:hover {
  background-color: #fe8040;
  color: #fff;
}

.dashboard-nav a span {
  margin-left: 10px;
}

.MuiSvgIcon-root{
  color: #fe8040;
}

.MuiSvgIcon-root:hover{
  color: #ffff;
}
/* Responsive Styles for Dashboard */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

 
  .dashboard-nav {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto; 
    padding:20px 0px 20px 0px;
  }

  .dashboard-nav ul {
    display: flex;
    flex-direction: row; 
    gap:50px;
    margin: auto;
  }

  .dashboard-nav li {
    margin: 0 15px;
  }

  .dashboard-nav a {
    font-size: 16px;
    padding: 10px 8px;
  }

  .dashboard-nav a span {
    display: none;
  }
}

@media (max-width: 480px) {
  .dashboard-nav {
    padding: 30px 0px 30px 0px;
  }

  .dashboard-nav ul {
    display: flex;
    flex-direction: row; 
    gap:50px;
    margin: auto;
  }

  .dashboard-nav a {
    font-size: 14px;
    padding: 8px 10px;
  }

  .dashboard-nav a span {
    margin-left: 5px;
  }
}

/*dashboard Content Styles */
.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #151210;
  overflow-y: auto;
  width: 80%;
}

.dashboard-content h2 {
  margin-top: 0;
  font-size: 24px;
  color: #cccccc;
  font-family: 'Montserrat', sans-serif;
}

/* Welcome Styles */
.welcome {
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  color: #fe8040;
}

.welcome header {
  margin-bottom: 20px;
}

.welcome header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.welcome header p {
  font-size: 18px;
  color: #cccccc;
}

/*dashboard Features style */
.features-overview {
  margin-bottom: 20px;
}

.features-overview h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.features-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-item {
  flex: 1;
  margin: 10px;
  border: 1px solid #b2bec3;
  border-radius: 8px;
  background-color: #1C1A18;
  color: #fff;
  min-width: 100px;
  margin: 10px;
  padding: 15px;
}

.feature-item h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 16px;
  color: #bdc3c7;
}

/* Responsive Styles for dashboard Features */
@media (max-width: 768px) {
  .feature-item {
    flex: 1 1 calc(50% - 20px);
  }
  .dashboard-content{
    width: auto;
  }
}

@media (max-width: 480px) {
  .feature-item {
    flex: 1 1 100%;
  }

  .dashboard-content{
    width: auto;
  }

}
