
/* Dashboard Container */
.dashboard {
  display: flex;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

/* Navigation Styles */
.dashboard-nav {
  width: 80px;
  background: #1E1E1E;
  display: flex;
  flex-direction: column;
  animation: slideInLeft 0.5s ease-in-out;
  padding: 20px 0;
  position: relative;
  transition: width 0.3s ease;
}


.dashboard-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-left: 15px;
  
}

.dashboard-nav li {
  margin: 15px 0;
  position: relative;
  
}

.dashboard-nav a {
  text-decoration: none;
  color: #cccccc;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dashboard-nav a:hover {
  color: #fe8040;
  transform: scale(1.05);
}

/* Tooltip Styles */
.dashboard-nav a::after {
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dashboard-nav a:hover::after {
  opacity: 1;
  transform: translateY(-50%) translateX(10px);
}

.dashboard-nav a span {
  margin-left: 10px;
  display: none;
}

.dashboard-nav.expanded a span {
  display: inline;
}

.MuiSvgIcon-root {
  color: #fe8040;
}

.MuiSvgIcon-root:hover {
  color: #ffff;
}

/* Responsive Styles for Dashboard */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .dashboard-nav {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
    
  }

  .dashboard-nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: auto;
  }

  .dashboard-nav li {
    margin: 0 15px;
  }

  .dashboard-nav a {
    font-size: 16px;
    padding: 10px 8px;
  }

  .dashboard-nav a span {
    display: none;
  }
}

@media (max-width: 480px) {
  .dashboard-nav {
    padding: 30px 0;
  }

  .dashboard-nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: auto;
  }

  .dashboard-nav a {
    font-size: 14px;
    padding: 8px 10px;
  }

  .dashboard-nav a span {
    margin-left: 5px;
  }
}

/* Dashboard Content Styles */
.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #151210;
  overflow-y: auto;
  width: 80%;
}

.dashboard-content h2 {
  margin-top: 0;
  font-size: 24px;
  color: #cccccc;
  font-family: 'Montserrat', sans-serif;
}

/* Welcome Styles */
.welcome {
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  color: #fe8040;
  animation: fadeIn 1s ease-in-out;
}

.welcome header {
  margin-bottom: 20px;
  animation: slideInUp 0.5s ease-in-out;
}

.welcome header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.welcome header p {
  font-size: 18px;
  color: #cccccc;
}

/* Features Overview Styles */
.features-overview {
  margin-bottom: 20px;
}

.features-overview h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fe8040;
  animation: slideInUp 0.5s ease-in-out;
}

.features-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-item {
  flex: 1;
  margin: 10px;
  border: 1px solid #43494c;
  border-radius: 8px;
  background-color: #1E1E1E !important;
  color: #fff;
  min-width: 100px;
  margin: 10px;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeInUp 1s ease-in-out;
}

.feature-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.feature-item h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #fe8040;
  /* animation: slideInUp 0.5s ease-in-out; */
}

.feature-item p {
  font-size: 16px;
  color: #bdc3c7;
  /* animation: slideInUp 0.5s ease-in-out; */
  
}

/* Animations */
@keyframes fadeInUp {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideInLeft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@keyframes slideInUp {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

/* Responsive Styles for Features */
@media (max-width: 768px) {
  .dashboard{
    height: 100%;
  }
  .feature-item {
    flex: 1 1 calc(50% - 20px);
  }
  .dashboard-content {
    width: auto;
  }
}

@media (max-width: 480px) {
  .dashboard{
    height: 100%;
  }
  .feature-item {
    flex: 1 1 100%;
  }
  .dashboard-content {
    width: auto;
  }
}
