.navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: sans-serif;
    justify-content: space-between;
    padding: 10px 1.2rem;
    background-color: aliceblue;
}

.link-style-div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link-style {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
