.addemployee-form {
  margin-top: 20px;
  text-align: center;
  max-width: 100vh;
  background-color: #1E1E1E;
  padding: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.addemployee-head {
  color: #fe8040;
}

.addemployee-input {
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #333;
  width: 100%; /* Full width for inputs */
}

.addemployee-label {
  margin-bottom: 5px;
  color: #fe8040;
  font-weight: bold;
  display: block;
  text-align: left;
}

.addemployee-button {
  width: 50%;
  padding: 10px 0;
  background-color: #fe8040;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
}

.addemployee-button:hover {
  background-color: #303030;
}

/* Responsive Styles for Add Employee Form */
@media (max-width: 600px) {
  .addemployee-form {
    width: 90%;
    padding: 15px;
  }

  .addemployee-input {
    font-size: 14px;
    padding: 8px;
  }

  .addemployee-button {
    width: 60%;
    font-size: 14px;
    padding: 8px 0;
  }
}

/* Alert Messages */
.message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
}

.message.success {
  background-color: #d4edda;
  color: #fe8040;
  border: 1px solid #c3e6cb;
}

.message.error {
  color: #721c24;
}
