/* General Styles */

  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
  }
  
  .from-box {
    width: 350px;
    padding: 40px;
    background-color: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  .from-box h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .input-box {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-box input {
    width: calc(100% - 20px);
    height: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #34495e;
    border: none;
    color: #fff;
  }
  
  .input-box input::placeholder {
    color: #bdc3c7;
  }
  
  .input-box .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #bdc3c7;
  }
  
  .Remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    
  }
  
  .Remember-forgot label {
    color: #bdc3c7;
    margin-right:auto;
  }
  
  .Remember-forgot button {
    background-color: transparent;
    border: none;
    color: #3498db;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
  }
  
  .Remember-forgot button:hover {
    color: #2980b9;
  }
  
  .btn {
    width: calc(100% + 20px);
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    
  }
  
  .btn:hover {
    background-color: #2980b9;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .from-box {
      width: 90%;
      padding: 30px;
    }
  }
  